body {
    background-color: rgb(230, 230, 245);
    font-size: 1.6rem;
    font-family: sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 3rem;
    background-color: rgb(210, 210, 255);
    margin: 3%;
    padding: 1%;
    text-shadow: 0px 0px 2px black;
}

h2 {
    text-align: left;
    font-size: 2rem;
}

.titulo-artigo {
    margin-left: 5%;
    color: black;
    text-decoration: solid;
}

p {
    font-size: 1.4rem;
    text-align: left;
    margin-left: 3%;
    color: rgb(23, 20, 20);
}

.data {
    text-align: right;
    margin-right: 2%;
}

.paginas {
    display: flex;
    justify-content: center;
    padding: 1%;
    margin: 5%;
    background-color: rgb(210, 210, 255);
    font-size: 1.6rem;
}

.opcao {
    margin: 0px 15px 0px 15px;
    color: blue;
    text-decoration: none;
    text-shadow: 0.3px 0.3px 0.6px black;
}